/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

#flex{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid black; */
}

.celle{
  flex-basis: 10%;
  min-height: 70px;
  border: 1px solid black;
  background-color: lightgreen;
}

p{
  width: 100%;
  height: 100%;
}

p.active{
  background-color: crimson;
}